body {
  color: #fff;
  background-color: #e2711d !important;
}

a:hover {
  color: #cc5803;
}

.bg-primary {
  background-color: #e2711d !important;
}

.bg-dark {
  background-color: #cc5803 !important;
}

.fab {
  color: #ff9505 !important;
  padding: 5px;
}
